* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Lato', Helvetica, Arial;
    font-size: 15px;
    display: flex;
    margin: 0;
    min-height: 100vh;
}

.models {
    display: none;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    
}